# Logs
BusinessServer/logs
*.log
BusinessServer/npm-debug.log*
BusinessServer/yarn-debug.log*
BusinessServer/yarn-error.log*
BusinessServer/pnpm-debug.log*
BusinessServer/lerna-debug.log*
FileServer/npm-debug.log*
FileServer/yarn-debug.log*
FileServer/yarn-error.log*
FileServer/pnpm-debug.log*
FileServer/lerna-debug.log*

*/node_modules
BusinessServer/*.DS_Store
BusinessServer/dist-ssr
BusinessServer/dist
BusinessServer/coverage
BusinessServer/*.local
FileServer/*.DS_Store
FileServer/dist-ssr
FileServer/dist
FileServer/coverage
FileServer/*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*/deprecated
